<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Мебель для кухни (кухонная мебель) —
        мебель, специально предназначенная
        для хранения в квартирах и индивидуальных
        домах продуктов питания, бытовой утвари 
        и посуды для приготовления пищи, столового
        белья, столовых приборов и столовой посуды,
        приготовления пищи, её подготовки к подаче
        на стол, приема пищи в помещении кухни, 
        а также для размещения холодильников,
        плит и другой бытовой техники[
    </div>
    
</body>
</html>